$header1: calc(2.5rem + 1vw);
$header2: calc(4rem + 1vw);
$header3: calc(2.5rem + 1vw);
$header4: calc(2rem + 1vw);
$text: calc(2.5rem + 1vw);
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;